<head>
    {{ partial "seo_schema" . }}
    <title>
        {{ if eq .Title .Site.Title }}
          {{ .Site.Title }}
      {{ else }}
          {{ .Title }} - {{ .Site.Title }}
      {{ end }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="author" content="{{ .Site.Author }}" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/{{ .Site.Params.favicon }}">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/ankh.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    
    <script src="/js/main.js"></script>

</head>