<header>
    <nav class="header-nav">
        {{- $header      := .Site.Params.header }}
        {{- $socialMedia := index $header "socialmedia" }}
        <div class="header-left">
            {{- range $socialMedia }}
                <a class="social-anchor" href="{{ .link }}" title="{{ .icon }}">
                    <span class="icon fab fa-{{ .icon}}"></span>
                </a>
                {{- end }}
        </div>
        <div class="header-center">
            <a href="{{ .Site.BaseURL }}" title="Home" class="home">
                <img class="header-logo" src="/images/logos/headerlogo.png/" alt="header logo" />
            </a>
        </div>
        <div class="header-right">
            <a href="https://www.redbubble.com/people/MistilArt/shop" target="blank" class="nav-link" title="Store">Store</a>
            <a href="{{ .Site.BaseURL }}about" class="nav-link" title="About">About</a>
        </div>
        <div class="header-mobile">
            <span class="hamburger" onclick="toggleHamburger(this)">☰</span>
        </div>
    </nav>
</header>