<header>
    <nav class="header-nav" id="header-nav">
        {{- $header      := .Site.Params.header }}
        {{- $socialMedia := index $header "socialmedia" }}
        <div class="header-mobile">
            <div class="three col">
                <div class="hamburger" id="hamburger-10" onclick="toggleHamburger(this)">
                  <span class="line"></span>
                  <span class="line"></span>
                  <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header-left" id="header-left">
            {{- range $socialMedia }}
                <a class="social-anchor" href="{{ .link }}" target="blank" title="{{ .icon }}">
                    <span class="icon fab fa-{{ .icon}}"></span>
                </a>
                {{- end }}
        </div>
        <div class="header-center" id="header-center">
            <a href="{{ .Site.BaseURL }}" title="Home" class="home">
                <img class="header-logo" src="{{ .Site.Params.header.logo}}" alt="header logo" />
            </a>
        </div>
        <div class="header-right" id="header-right">
            <a href="{{ .Site.Params.header.storeLink}}" target="blank" class="nav-link" title="{{ .Site.Params.header.storeTitle}}">{{ .Site.Params.header.storeTitle}}</a>
            <a href="{{ .Site.BaseURL }}about" class="nav-link" title="About">About</a>
        </div>
    </nav>
</header>