:root {
    --text-color: #1B1C22;
    --background-color-white: rgb(243, 243, 243);
    --accent-color-primary: rgb(97, 201, 77);
    --dark-green: rgb(38, 100, 24);
    --light-grey: lightgrey;
    --dark-grey: rgb(78, 78, 78);
  }

html {
    scroll-behavior: smooth;
}

/* Reset CSS */

body {
    margin: 0px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    box-sizing:border-box;
}
/* General */
p {
    color: var(--text-color);
}

.icon {
    color: var(--text-color);
}
.icon:hover {
    color:var(--accent-color-primary);
}

a {
    color: var(--text-color);
    text-decoration: none;
}
a:visited {
    color: var(--dark-green);
}
a:hover {
    color: var(--accent-color-primary);
}
a:focus {
    border: 1px dotted black;
}

/* Header */

nav.header-nav {
    color: var(--background-color-white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: Dosis, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.header-left, .header-center, .header-right {
    display: block;
    width: 33.33vw;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
}

.header-left, .header-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.header-right {
    justify-content: flex-end;
}

.social-anchor span {
    font-size: 25px;
    color: var(--text-color);
    margin-right: 10px;
}

nav .header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-height: 95px;
}

/* Gallery selector */

section.gallery-selector {
    font-family: Dosis, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 5px;
}

section.gallery-selector .gallery-selector-item-left {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}
section.gallery-selector .gallery-selector-item-mid {
    display: flex;
    width: 20%;
}
section.gallery-selector .gallery-selector-item-right {
    display: flex;
    width: 40%;
    justify-content: flex-start;
}

.switch-area {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.switch-area .left-label {
    position: absolute;
}

.switch-area .right-label {
    position: absolute;
}

.switch-box {
    display: block;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-grey);
    border: 2px solid var(--dark-grey);
    border-radius: 50px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 0px;
    bottom: 1px;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
    border: 3px solid white;
  }
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    border: 3px solid var(--dark-grey);
  }

/* Gallery */

section.portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.portfolio figure {
    height: 375px;
    width: 375px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--light-grey);
}

section.portfolio figure img {
    height: 100%;
    width: 100%;
}