<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}

            <!-- Gallery selector -->
            <section>
                <div class="switch-gallery">D&D / Tattoo</div>
            </section>
            <!-- gallery - TODO: move to partial -->
            {{ $tattoourl := "/images/tattoo" }}
            {{ $dndurl := "/images/dnd" }}
            {{ $dnd := readDir "/static/images/dnd" }}
            {{ $tattoo := readDir "/static/images/tattoo" }}

            <section class="portfolio tattoo-portfolio">
                {{ range $tattoo }}
                <figure>
                <a href="{{$tattoourl}}/{{.Name | urlize }}">
                    <img src="{{$tattoourl}}/{{.Name | urlize }}">
                </a>
                </figure>
                {{ end }}
            </section>
            <section class="portfolio dnd-portfolio">
                {{ range $dnd }}
                <figure>
                <a href="{{$dndurl}}/{{.Name | urlize }}">
                    <img src="{{$dndurl}}/{{.Name | urlize }}">
                </a>
                </figure>
                {{ end }}
            </section>

            <!-- End of gallery -->

        {{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>